// Author: <Md. Tanvir Islam>

doctype html
head
	title Page Not Found
	link(rel = "stylesheet" type = "text/css" href = "authentication.css")
body
	h1(style = "font-size: 300%;") Error 404
	hr/
	h1 Page not found...
