// Author: <Md. Tanvir Islam>

doctype html
head
	title Welcome!
	link(rel = "stylesheet" type = "text/css" href = "authentication.css")
	script(src = "https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
	script(src = "loginPage.js")
body
	-if(signal === undefined)
		br/
		br/
		h1(style = "text-align: center;") Chat!
		br/
		div(class = "box div1 bleh" style = "text-align: center;")
			p(style = "font-size: 150%; text-shadow: -1px 0 black, 0 2px black, 1px 0 black, 0 -1px black;") Sign in
			form &nbsp &nbsp Username &nbsp
				input(type = "text" id = "username")
				p(id = "p1" style = "display: inline-block; font-size: 90%;")
				br/ &nbsp &nbsp Password &nbsp 
				input(type = "password" id = "password")
				p(id = "p2" style = "display: inline-block; font-size: 90%;")
				br/
				p(id = "breakLine")
				button(type = "button" class = "button2" id = "login" style = "width: 110px;font-size: 95%;") Next
				br/
				input(type = "checkbox" id = "rememberMe")
				p(style = "display: inline-block;") Remember me! 
				p(style = "font-size: 110%; text-shadow: -1px 0 black, 0 2px black, 1px 0 black, 0 -1px black;") Don't have an account? 
				a(href = "register" style = "color: ivory;") Register
				p 

