.login-container {
    margin-top: 25vh;
}

.register-container {
    margin-top: 20vh;
}

.authentication-link {
    margin-top: 3vh !important;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}