.message-loader {
    top: 2.28571429rem !important;
}

.home-container {
    margin-top: 10px;
    -webkit-box-shadow: -1px 2px 21px -4px rgba(0,0,0,0.65); 
    box-shadow: -1px 2px 21px -4px rgba(0,0,0,0.65);
    min-width: 500px;
    background-color: white;
}

.scrollable {
    overflow: auto;
}

.row-container {
    height: 90vh;
}

.profile-tab {
    display: flex;
    align-items: center;
    background-color: #f7f7f7;
    height: 50px;
    border-bottom: 1px solid #e8e8e8;
}

.user-search {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e8e8e8;
    font-size: 14px;
}

.user-container {
    border-right: 1px solid #e8e8e8;
    max-height: 90vh !important;
}

.message-container {
    /** Display flex, and set the direciton as column */
    display: flex;
    flex-direction: column;
    background-image: url('../../assets/chat-background.png');
    overflow: hidden;
    max-height: 90vh !important;
}

.send-message {
    background-color: #f7f7f7;
    height: 60px;
    border-top: 1px solid #e8e8e8;
}

.message-input {
    margin-top: 10px;
    width: 100%;
}

.messages {
    /*
        Flex auto, will automatically allocate all the free space that is available in the container
        to this element. This will cause the send-message div to be automatically placed on the bottom,
        as all items in a flex container has a default flex property of 1.
    */
    flex: auto;
    max-height: none !important;
    height: 500px;
}