/*
	Purpose: Responsible for the main design of the website and its outlook
	Author: Md. Tanvir Islam
 
*/
body {
	background-color: #3E3B3B;
	font-family: "Times New Roman", cursive, sans-serif;
	color: aliceblue;
}

h1 {
	color: aliceblue;
	text-shadow: -1px 0 black, 0 4px black, 1px 0 black, 0 -1px black;
}

.div1 {
	background-image: linear-gradient(to right, #3A3737, #5A646C);
	border-width: 5px;
	border-style: groove;
}

/* Centers the box and sets the width */

.box {
	margin: 0 auto;
	width: 500px;
	border-radius: 4px; /* makes edges smoooooth */
}

.box1 {
	width: 1215px;
	border-radius: 4px; /* makes edges smoooooth */

}

.center {
	text-align: center;
}

.customSize {
	font-size: 130%;
	margin: 30px auto;
}

.button1 {
	background: cornflowerblue;
	color: aliceblue;
	display: inline-block;
	border-radius: 4px;
	font-family: "Times New Roman", cursive, sans-serif;
	line-height: 1.8em;
	padding: 0 1.3em;
}

.button2 {
	background: seagreen;
	color: aliceblue;
	display: inline-block;
	border-radius: 4px;
	font-family: "Times New Roman", cursive, sans-serif;
	line-height: 1.8em;
	padding: 0 1.3em;
}

.ing {
  height: 100px;
  width: 700px;

}

.stp {
  height: 90px;
  width: 700px;
}

.nts {
  height: 80px;
  width: 180px;
}

.txt {
  height: 20px;
  width: 130px;
}




