.login-container {
    margin-top: 25vh;
}

.login-button {
    margin-top: 2vh;
}

.registration-link {
    margin-top: 3vh !important;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}