
.user-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e8e8e8;
    cursor: pointer;
}

.user-card {
    min-width: 100px;
    display: flex;
    flex-direction: row;
}

.user-card-text-group {
    margin-top: 15px;
    margin-left: 20px;
}

.user-card-text-group h1 {
    font-weight: 400;
    font-size: 13px;
}

.user-card-text-group p {
    font-size: 11px;
    color: #a6a6a6;
}

.close-user-card {
    margin-left: auto;
    margin-top: 15px;
    height: 15px;
    width: 15px;
}

.close-user-card:hover {
    transform: scale(1.25);
}